$link-color: rgb(0, 94, 165);
$link-visited-color: rgb(46, 138, 202);
$selected-color: #f5f5f5;
$selected-bg-color: $link-color;

$header-bg-color: #ccc;

$blue: rgb(0, 94, 165);
$light-blue: #C2D7E8;
$extra-light-blue-bg: #F3F7FA;

$thin-border: solid 1px #e9e9e9;
$thick-border: solid 5px $light-blue;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

*
{
	margin: 0;
	padding: 0;
	font-family: 'Open sans', sans-serif;
	font-size: 12pt;
	font-weight: normal;
}

body
{
	background: #f2f2f2;
}

a
{
	color: $link-color;
	text-decoration: underline;

	&:hover
	{
		color: $link-visited-color;
	}

	&:visited
	{
		color: $link-visited-color;
	}
}

#account-bar
{
	background-color: #222;

	a#logo
	{
		display: inline-block;
		font-size: 14pt;
		font-weight: 600;
		padding: 12px 0;
		color: #999;
		text-decoration: none;

		&:visited
		{
			color: #999;
		}

		&:hover
		{
			color: #f5f5f5;
			text-decoration: none;
		}
	}
}

header
{
  background-color: $header-bg-color;
}

footer
{
	margin: 30px 0 60px 0;
	padding: 0;
}

nav
{
	margin: 0;
	padding: 0;

	ul
	{
		list-style: none;
		margin: 0;
		padding: 0;		

		li
		{
			margin: 0;
			padding: 0;
			float: left;

			&+li
			{
				margin-left: 5px;
			}

			a
			{
				display: inline-block;
				padding: 10px 30px;
				background-color: #e3e3e3;
				text-decoration: none;

				span
				{
					display: block;
					color: #999;
					font-size: 12pt;
					font-weight: 300;
				}

				&:active, &:hover, &:visited
				{
					color: #111;
					text-decoration: none;
				}

				&:hover
				{
					background-color: #f5f5f5;
				}

				&.current, &.current-parent
				{
					background-color: #fff;
				}

				&.home
				{
					background-image: url(../images/home.png);
					background-position: 53% 50%;
					background-repeat: no-repeat;
				}

				&.add
				{

					color: #444;
					margin: 12px 0 0 10px;
					padding: 0;
					width: 40px;
					height: 40px;
					background-color: $header-bg-color;
					background-image: url(../images/add.png);
					background-position: 50% 50%;
					background-repeat: no-repeat;

					&:hover
					{
						color: $link-color;
					}
				}
			}
		}
	}

}

div#search
{
	margin: 30px 0;

	table
	{
		border-collapse: collapse;
		margin: 5px 0 0 0;

		td
		{
			padding: 0;
		}
	} 

	input
	{
		border: 0;
		margin: 0;
		padding-left: 10px;
		width: 350px;
		height: 40px;
		background-color: #fff;

		&:focus
		{
			background-color: #fff;
		}
	}

	button
	{
		margin: 0;
		border: none;
		width: 40px;
		height: 40px;
		color: #fff;
		background-color: #999;

		&:hover
		{
			background-color: $selected-bg-color;	
		}
	}

}

section#main
{
	margin: 0;
	padding: 30px 0 60px 0;
	background: #fff;
}

ul#sub-nav
{
	list-style: none;
	margin: 0;
	padding: 0;
	border-right: $thin-border;

	li
	{
		margin: 0;
		padding: 0;

		a
		{
			display: block;
			padding: 10px 15px;
			margin: 0;
			text-decoration: none;

			span
			{
				float: right;
				color: #333;
			}

			&:visited
			{
				color: $link-color;
			}

			&:hover
			{
				background-color: $extra-light-blue-bg;
			}
		}

		&.current
		{
			a
			{
				color: $selected-color;
				background-color: $selected-bg-color;
			}

			span
			{
				color: #fff;
			}
		}

		&.sep
		{
			margin: 15px 0;
			border-top:  $thin-border;
		}

		&.icon-cloud a
		{
			background-image: url(../images/cloud.png);
			background-repeat: no-repeat;
			background-position: 14px 50%;
			padding-left: 45px;
		}
	}
}

h1
{
	font-size: 26pt;
	font-weight: 600;
	margin: 0 0 30px 0;
	color: #333;

	&.no-margin
	{
		margin-bottom: 0;
	}
}

h2
{
	font-size: 14pt;
	font-weight: 600;
	color: #333;
	margin: 0 0 15px 0;
	padding: 5px 0 12px 0;
	border-bottom: $thick-border;
}

div.sub-head
{
	margin: 5px 0 45px 0;
	color: #666;
	font-weight: 300;

	span
	{
		color: #bbb;
	}
}

ul
{
	margin-left: 45px;

	&.link-list
	{
		margin: 0 0 0 15px;
		list-style: url(/assets/images/chevron-right.png);

		li 
		{
			margin: 0 0 3px 0;
			padding: 0 0 0 3px;
		}
	}
}

div.news-story
{
	margin: 0 0 15px 0;

	p
	{
		margin: 2px 0;
		color: #333;
	}
}

table.grid
{
	width: 100%;
	border: none;

	th, td
	{
		padding: 8px 10px 8px 0;
	}

	th
	{
		border: none;
		text-transform: uppercase;
		font-size: 10pt;
		font-weight: 600;
		color: #999;
		border-bottom: $thin-border;
	}

	td.spring
	{
		width: 100%;
	}

	tr+tr
	{
		border-top: $thin-border;
	}
}

.modal-header
{
	background-color: #eee;

	button span
	{
		font-size: 20pt;
	}
}

.modal-title
{
	font-size: 12pt;
	font-weight: 600;
}

.modal-body
{
	background-color: #fff;
}

.modal-footer
{
	background-color: #fff;	
}

.open a.dropdown-toggle
{
	background-color: #e3e3e3;
	border-radius: 3px;
}

a.dropdown-toggle
{
	text-decoration: none !important;
	color: #111 !important;
	text-decoration: none;

	&:hover
	{
		background-color: #e3e3e3;
	}
}

ul.dropdown-menu li a
{
	text-decoration: none;
}

div.messages-toolbar
{
	margin: 0;
	padding: 0 0 15px 0;
	border-bottom: $thin-border;
}

a.message
{
	display: block;
	text-decoration: none;
	margin: 1px 0 0 0;
	padding: 6px 10px 6px 5px;
	border-left: solid 8px $link-color;

	div.date
	{
		float: right;
		color: #808080;
		padding: 1px 0 0 5px;
		font-size: 10pt;
		font-weight: 400;
		margin: 0;
	}

	div.from
	{
		margin-left: 30px;
		color: #333;
		font-weight: 300;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	div.subject
	{
		margin-left: 30px;
		color: #111;
		font-weight: 600;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	div.tags
	{
		margin: 0 0 5px 30px;

		span
		{
			display: inline-block;
			border-radius: 50px;
			background-color: #bbb;
			font-size: 10pt;
			padding: 1px 10px 2px 10px;
			margin: 5px 0 0 0;
			color: #fff;
		}
	}

	&.read
	{
		border-color: #ddd;
		div.from
		{
			color: #808080;
		}
		div.subject
		{
			color: #333;
			font-weight: normal;
		}
	}

	&:hover
	{
		background-color: $extra-light-blue-bg;
	}

	div.icons
	{
		display: inline-block;
		float: left;
		width: 30px;
		height: 30px;
		margin: 0 4px 0 0;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	div.icon-attachment
	{
		background-image: url(/assets/images/attachment.png);
	}
}

a.message+a.message
{
	border-top: $thin-border;
}

div.message-list-preview
{
	div.tags
	{
		display: none;
	}
}

div.section-box
{
	margin: 15px 0;
	padding: 8px 10px;
	background-color: $extra-light-blue-bg;
}

div.section-footer
{
	margin: 15px 0 30px 0;
}
